.contents {
	padding: 10px;
	width: calc(100vw - 200px);
	overflow-y: scroll;
	.page-title {
		font-size: 1.5rem;
		font-weight: 300;
		margin-bottom: 5px;
		text-transform: uppercase;
	}

	.desc {
		font-size: 0.85rem;
		margin-bottom: 10px;
	}

	hr {
		border: none;
		border-bottom: 1px solid $light-grey-1;
		margin-bottom: 10px;
	}

	.insight {
		font-size: 0.85rem;
	}

	.select-category-form {
		margin-top: 10px;
	}
}
